* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -text-size-adjust: 100%;
}

input::-ms-reveal {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

:root {
  --toastify-color-error: linear-gradient(to right, #ff5f6d, #d50000);

  --toastify-color-success: linear-gradient(to right, #00ffff, #0096ff);
  --toastify-color-info: linear-gradient(to right, #ffc371, #ffac1c);
}
