:root {
  --toastify-color-success: linear-gradient(to right, #80d8ff, #3498db);
  --toastify-color-info: linear-gradient(to right, #ffdb57, #ffc371);
  --toastify-color-error: linear-gradient(to right, #ff5f6d, #d50000);
 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-ms-reveal {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}
