* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

input::-ms-reveal {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

:root {
  
  --toastify-color-error: linear-gradient(to right, #ff5f6d, #d50000);

  --toastify-color-success: linear-gradient(to right, #00FFFF, #0096FF);
  --toastify-color-info: linear-gradient(to right, #ffc371, #FFAC1C);


}
